/* Main page properties */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
}

hr {
	height: 1px;
	background-color: black;
}

h1 {
	margin-top: 20px;
	font-size: 30px;
}

/* Flex box to help with responsiveness and also create two columns as defined below */
.container {
	display: flex; 
	flex-wrap: wrap;
}

/* The page is mainly divided into 2 sections/divs - user profile and user tweets */
#profile {
	padding: 10px;
	margin: 20px;
	flex: 20%;
}

#feed {
	padding: 10px;
	margin: 20px;
	flex: 40%;
}

/* 
 * User profile under #profile is mainly divided into 2 divs - user #photo and #follow 
 */

/* Holds photo and name of the user: Flex box */
#photo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

/* Holds the 'tweets/follow' information for the user: Flex box */
#follow {
	font-family: inherit;
	font-size: small;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* Styling for the user picture to get circular image */
.picture {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.name {
	font-family: inherit;
	font-size: xx-large;
	font-weight: bold;
	max-width: 25%;
}

.follow-text {
	font-family: inherit;
	font-size: small;
}

/* 
 * Tweets section  #feed is mainly divided into 2 divs - #post and  
 */

 /* Post Section flex box */
#post {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-height: 20%;
	align-items: baseline;
} 

/* Textarea style */
#text {
	height: 100px;
	width: 50%;	
	padding: 10px 5px;
}

/* Post Button style */
#post-button {
	background-color: cyan;
	padding: 10px 20px;
	text-align: center;
	border-radius: 5px;
	margin: 0 10px;
	border: 2px solid black;
}

#tweets {
	height: 500px;
	overflow: auto;
}

